#paragraf3{
    background-color: blueviolet;
}
#paragraf2{
    background-color: blanchedalmond;
}
#paragraf4{
  background-color: brown;
}
#paragraf5{
    background-color: cornflowerblue;
  
}
#p7{
    background-color: rgb(42, 110, 165);
    border: ppx dotted color yellow;
    margin: 50px;
    padding: 15px;
    border-radius: 25px;
}

